
<div class="col-12 pattern-bg">
  <div class="text-center title">ENTER REGISTRATION NUMBER</div>
  
  <!-- REGISTRATION NUMBER PREVIEW -->
  <div class="artboard">
    <div class="preview full-width">
      <input id="text-input" class="input action_disable Black-Ops-One" name="properties[Text]" autocomplete="off" spellcheck="false" 
             pattern=".{10,15}" maxlength="15" value="TYPE HERE" autofocus required
             style="font-weight: normal;">
      <span class="error-message text-center hidden">
      	Text must be within 10 to 15 characters
      </span>
    </div>
  </div>
  <script>
  var input = document.getElementById("text-input");
  var clicked = false; // a variable to store whether the input has been clicked
  input.addEventListener("click", function() {
    if (!clicked) { // only clear the value if it hasn't been clicked before
      input.value = "";
      clicked = true; // update the variable to indicate that it has been clicked
    }
  });
</script>
  <!-- REGISTRATION NUMBER TEXT OPTIONS -->
  <div class="options-wrapper">
    <div class="controls">
      <!-- FONTS SELECTOR -->
      <span class="control-font-container">
        <label for="control-font">Font choice</label>
        <div class="Select control-font-select has-value Select--single">
          <div class="Select-control form-group">
            <select id="text-font" class="form-control" name="properties[Font]">
                <option title='Anton' class='Anton' value='Anton'>Anton</option>
                <option title='Audiowide' class='Audiowide' value='Audiowide'>Audiowide</option> 
              	<option title='Black Ops One' class='Black-Ops-One' value='Black Ops One' selected='selected'>Black Ops One</option>

                <option title='Bungee' class='Bungee' value='Bungee'>Bungee</option>
                <option title='Ceviche One' class='Ceviche-One' value='Ceviche One'>Ceviche One</option>
                <option title='Changa One' class='Changa-One' value='Changa One'>Changa One</option>
                <option title='Creepster' class='Creepster' value='Creepster'>Creepster</option>
              	<option title='Fugaz One' class='Fugaz-One' value='Fugaz One'>Fugaz One</option>
              	<option title='Graduate' class='Graduate' value='Graduate'>Graduate</option>
                <option title='Orbitron' class='Orbitron' value='Orbitron'>Orbitron</option>
                <option title='Ruslan Display' class='Ruslan-Display' value='Ruslan Display'>Ruslan Display</option>
                <option title='Russo One' class='Russo-One' value='Russo One'>Russo One</option>
              	<option title='Righteous' class='Righteous' value='Righteous'>Righteous</option>
				<option title='Yellowtail' class='Yellowtail' value='Righteous'>Yellowtail</option>
                <option title='Sarina' class='Sarina' value='Sarina'>Sarina</option>
                <option title='Sea Dog' class='SeaDog' value='SeaDog'>Sea Dog</option>
              	<option title='Shojumaru' class='Shojumaru' value='Shojumaru'>Shojumaru</option>
                <option title='Shrikhand' class='Shrikhand' value='Shrikhand'>Shrikhand</option>
                <option title='Stalinist One' class='Stalinist-One' value='Stalinist One'>Stalinist One</option>
                <option title='Timmana' class='Timmana' value='Timmana'>Timmana</option>
                <option title='Viga' class='Viga' value='Viga'>Viga</option>
               
           <!-- Disabled fonts   
              <option title='Baumans' class='Baumans' value='Baumans'>Baumans</option>
              <option title='East Sea Dokdo' class='East-Sea-Dokdo' value='East Sea Dokdo'>East Sea Dokdo</option>
              <option title='Iceland' class='Iceland' value='Iceland'>Iceland</option>
              <option title='Sarpanch' class='Sarpanch' value='Sarpanch'>Sarpanch</option>
              <option title='Share Tech Mono' class='Share-Tech-Mono' value='Share Tech Mono'>Share Tech Mono</option>
              <option title='Yesteryear' class='Yesteryear' value='Yesteryear'>Yesteryear</option>
              -->
            </select>
            <input id="text-font-data" type="hidden" value="Black Ops One">
          </div>
        </div>
      </span>
      <!-- COLORS SELECTORS -->
      <span>
        <label>Color <input type="text" id="text-color-data" value="White"  name="properties[Color]" onkeydown="return false"></label>
        <div id="text-color" class="form-control color-input"></div>
        
      </span>
      <span>
        <label>Outline <input type="text" id="text-outline-data" value="Black"  name="properties[Outline]" onkeydown="return false"></label>
        <div id="text-outline" class="form-control color-input"></div>
        
      </span>
      <!-- OUTLINE SIZE -->
      <span>
        <label>Outline Size</label>
        <input id="text-outline-size" name="properties[Outline size]" type="number" min="0" max="5" class="form-control" value="3">
      </span>
    </div>
  </div>
</div>



<style>
  .Black-Ops-One {
    font-family: 'Black Ops One', cursive;
  }
  .Anton {
    font-family: 'Anton', sans-serif;
  }
  .Audiowide {
    font-family: 'Audiowide', cursive;
  }
  .Baumans {
    font-family: 'Baumans', cursive;
  }
  .Bowlby-One {
    font-family: 'Bowlby One',cursive;
  }
  .Bowlby-One-SC {
    font-family: 'Bowlby One SC',cursive;
  }
  .Bungee {
    font-family: 'Bungee',cursive;
  }
  .Ceviche-One {
    font-family: 'Ceviche One', cursive;
  }
  .Changa-One {
    font-family: 'Changa One', cursive;
  }
  .Creepster {
    font-family: 'Creepster', cursive;
  }
  .East-Sea-Dokdo {
    font-family: 'East Sea Dokdo', cursive;
  }
  .Graduate {
    font-family: 'Graduate', cursive;
  }
  .Fugaz-One{
  	font-family: 'Fugaz One', cursive;
  }
  .Iceland {
    font-family: 'Iceland', cursive;
  }
  .Orbitron {
    font-family: 'Orbitron', sans-serif;
  }
  .Ruslan-Display {
    font-family: 'Ruslan Display', cursive;
  }
  .Russo-One {
    font-family: 'Russo One', sans-serif;
  }
  .Righteous {
  	font-family: 'Righteous', cursive;
  }
  .Yellowtail {
 	font-family: 'Yellowtail', cursive;
  }
  .Sarina {
    font-family: 'Sarina', cursive;
  }
  .Sarpanch {
    font-family: 'Sarpanch', sans-serif;
  }
  .SeaDog {
    font-family: 'Sea-Dog';
    font-weight: normal;
    font-style: normal;
  }
  .Share-Tech-Mono {
    font-family: 'Share Tech Mono', monospace;
  }
  .Shojumaru {
    font-family: 'Shojumaru', cursive;
  }
  .Shrikhand {
    font-family: 'Shrikhand', cursive;
  }
  .Stalinist-One {
    font-family: 'Stalinist One', cursive;
  }
  .Timmana {
    font-family: 'Timmana', sans-serif;
  }
  .Viga {
    font-family: 'Viga', sans-serif;
  }
  .Yesteryear {
    font-family: 'Yesteryear', cursive;
  }

  .pattern-bg{
    margin-bottom: 4rem;
    padding-top: 50px;
    padding-bottom: 3rem;   
    background: url("https://cdn.shopify.com/s/files/1/1783/9041/files/checker-pattern.svg?672") #505050;
    transition: background 1s ease;
  }
  .title{
    position:relative;
    margin:0 auto;
    padding:2rem 20px 0 20px;
    width:100%;
    max-width:1000px;
    font-size:1.3rem;
    color:#fff;
  }
  .artboard{
    position:relative;
    margin:10px 0 40px;
    min-height:200px;
  }
  .preview .output {
    display: inline-block;
    position: absolute;
    visibility: hidden;
    left: -10000px;
    line-height: 1;
    white-space: pre;
  }
  .canvas{
    display:none;
  }
  .preview .input {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    height:auto;
    width: 100%;
    border: 0;
    outline: 0;
    transform: translate(-50%,-50%);
    background: 0 0;
    text-align: center;
    color:#ffffff;
    font-size:13rem;
    text-shadow: 3px 3px 0 #000,-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    -webkit-text-stroke: 0px #000;
  }
  .preview .input.SeaDog{
  	font-size: 60px;
  }
  
  .options-wrapper{
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1000px;
  }
  
  .controls{
  	display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    padding: .5rem;
    background:#fff;
    border-radius:6px;
    box-shadow:0 0 0 1px rgba(0,0,0,.1);
  }
  .form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .color-input{
  	width:80px;
  }
  #text-color{
  	background-color:#FFFFFF;
  }
  #text-outline{
  	background-color:#000000;
  }
  
  .huebee__cursor {
    width: 25px;
    height: 25px;
  }
  .huebee__container {
    border: 4px solid #222;
    border-radius: 0;
  }
  
  .error-message {
    position: absolute;
    bottom: -8%;
    left: 25%;
    right: 25%;
    padding: 5px;
    color: white;
    border: 2px solid red;
    display:none;
  }
  .full-width{
    width:100%;
  }
  .ui-autocomplete{
  	display: none !important;
  }
  @media only screen and (max-width: 959px) {
    .artboard input{
      font-size: 45px !important;
    }
  }
  
  @media only screen and (max-width: 801px) {
    .artboard{
      margin:0;
      min-height:180px;
    }
  }
  @media only screen and (max-width: 501px) {
    .artboard{
      min-height:150px;
    }

    @media only screen and (max-width: 600px) {
      #text-color-data, text-outline-data {
        display: none;
      }
    }
    
    .options-wrapper{
      padding:2rem;
    }
    #text-input{
      font-size:5rem;
    }
    .controls span,
    .color-input{
      width:100%;
    }
    .controls span{
      margin-bottom:1rem;
    }
    .artboard input{
      font-size: 40px !important;
    }
  }  
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
  var textColorPicker = {},
      textOutlinePicker = {};
  var COLORS_NAME = ["Freeride MY18-Maldives Green", "Freeride MY17", "Freeride Army Green", "8", "Arctic Cat Green", 
                     "Kawi Green", "Day Glow Yellow", "Lime", "Sea-Doo Sunburst Yellow", "Ski-Doo Sunburst Yellow", 
                     "Vintage Ski-Doo Yellow", "Can-Am X3 Yellow", "Ski-Doo Orange Chrush", "Ski-Doo Dark Orange", 
                     "Artic Cat Orange", "KTM Orange", "Blaze Orange", "Can-Am Red", "Freeride Lava Red", "Polaris Red Force", 
                     "Honda Red", "RB Pink", "Spark Magenta", "DS Pink", "Purple", "Dark Purple", "Yamaha Blue", "RB Blue", 
                     "Polaris Dark Blue", "RB Motorsports Blue", "Vintage Ski-Doo Blue", "Pantone 2184 C", "SCS W Blue", 
                     "Electric Blue", "Freeride MY18-Octane Blue", "Can-Am Blue", "Sea-Doo Belize Blue", "Sea-Doo Blue007ebd", 
                     "Sea-Doo Trixx Candy Blue", "Light Blue", "Can-Am Maverick Silver", "Can-Am Defender Grey", 
                     "Can-Am Maverick Grey", "C-0 M-0 Y-0 K-90", "Can-Am Dark Grey", "SCS W Blue Black", "Can-Am Gold", 
                     "Ski-Doo Gold", "Dazzling Blue", "White", "Black"];
  var COLORS_VALS = ["#b2dd00", "#9add00", "#575f2b", "#00c400", "#00dd00", "#91f500", "#d0fa26", "#e0e718", "#fcf500", 
                     "#ffec00", "#ffce00", "#f4a601", "#fe9b01", "#ff6900", "#ff6415", "#fa6400", "#fd3e01", "#ff0007", 
                     "#e3180b", "#fb0000", "#e91824", "#de184b", "#ef0076", "#ff0090", "#9300e6", "#4c44c3", "#000caa", 
                     "#000c8b", "#001e66", "#23346b", "#002e95", "#0083d6", "#0074c7", "#0092da", "#00acee", "#0088d1", 
                     "#005f99", "#007ebd", "#00c4cf", "#8ae7ff", "#bababa", "#737373", "#79797e", "#79797e", "#2e2e2e", 
                     "#0f181e", "#bb9256", "#a59761", "#073EFF", "#FFFFFF", "#000000"];
  
  
  $(document).ready(function(){
    
//     $('.action_disable').click(function(e){
//     	e.preventDefault();
//     });
    
    if (window.matchMedia("(max-width: 767px)").matches) {
	  $('#text-outline-size').val("1");
    }else{
      $('#text-outline-size').val("3");    
    } 
    
    updateTextOutline($('#text-outline-size').val());
  	initializeColorPicker();
    trackFontPicker();
    trackColorPicker();
    trackTextOutline();
  });
  
  function outlineSize(){
    if (window.matchMedia("(max-width: 767px)").matches) {
	  $('#text-outline-size').val("1");
    }else{
      $('#text-outline-size').val("3");    
    }  	
  }
  
  $(window).on('debouncedresize', mobileAdjustment);
  
  function initializeColorPicker(){
  	var textColor = $('#text-color'),
        textOutline = $('#text-outline');
    textColorPicker = new Huebee('#text-color', {
      shades: -2,
      setText: false,
      notation: 'hex',
      saturations: 0,
      customColors: COLORS_VALS,
      className: 'text-color-picker'
    });
    textOutlinePicker = new Huebee('#text-outline', {
      shades: -2,
      setText: false,
      notation: 'hex',
      saturations: 0,
      customColors: COLORS_VALS,
      className: 'text-color-picker'
    });
  }
  function trackFontPicker(){
    $('#text-font').on('change', function(){
      var fontChoice = $('option:selected', this).val(),
          fontFamily = $('option:selected', this).attr('class');
      $('#text-font-data').val(fontChoice);
      $('#text-input').removeClass();
      $('#text-input').addClass("input " + fontFamily);
    });
  }
  function trackColorPicker(){
    textColorPicker.on('change', function(color, hue, sat, lum){
      var colorName = COLORS_NAME[COLORS_VALS.indexOf(color)];
      $('#text-color-data').val(colorName);
      $('#text-input').css('color', color);
	});
    textOutlinePicker.on( 'change', function(color, hue, sat, lum){
      var colorName = COLORS_NAME[COLORS_VALS.indexOf(color)],
          outlineSize = $('#text-outline-size').val();
      $('#text-outline-data').val(colorName);
      console.log(outlineSize + "px " + colorName);
      $("#text-input").css({
        "-webkit-text-stroke": outlineSize + "px " + color,
        "text-shadow": "-" + outlineSize + "px -" + outlineSize + "px 0 " + color + 
                       "," + outlineSize + "px -" + outlineSize + "px 0 " + color +
                       ",-"+ outlineSize + "px " + outlineSize + "px 0 " + color +
                       "," + outlineSize + "px " + outlineSize + "px 0 " + color
      });
	});
  }
  function trackTextOutline(){
    $('#text-outline-size').on('change', function(){
      var newSize = $(this).val();
      updateTextOutline(newSize);
    });
  }
  function updateTextOutline(newSize){
    var outlineColor = COLORS_VALS[COLORS_NAME.indexOf($('#text-outline-data').val())];
    $("#text-input").css({
        "-webkit-text-stroke": newSize + "px " + outlineColor,
        "text-shadow": "-" + newSize + "px -" + newSize + "px 0 " + outlineColor + 
        "," + newSize + "px -" + newSize + "px 0 " + outlineColor +
        ",-"+ newSize + "px " + newSize + "px 0 " + outlineColor +
        "," + newSize + "px " + newSize + "px 0 " + outlineColor
    });
  }
  //"text-shadow": "-1px -1px 0" + color + ",1px -1px 0 " + color + ",-1px 1px 0 " + color + ",1px 1px 0 #000",



</script>